    {% extends "FinalApp/base.html" %}

    {% load static %}
    {% block content %}
    <!-- Heading -->
    <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img
            class="intro-img img-fluid mb-3 mb-lg-0 rounded"
            src="{% static 'FinalApp/img/fondo_yunta.jpg' %}"
            alt="Hombre entregando un paquete"
          />
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4">
              <span class="section-heading-upper">Variedad</span>
              <span class="section-heading-lower">El mejor stock</span>
            </h2>
            <p class="mb-3">
              La mejor atencion en nuestro local comercial, o consultanos por envios a domicilio
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
              <p class="mb-0">
                Contamos con la mas amplia experiencia en todo lo relacionado a la talabarteria, cuchillos, elementos decorativos y mucho mas!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    {% endblock content %}
